@font-face {
  font-family: 'Tannenberg';
  src: url('../assets/fonts/tannenberg_fett_regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  --blue: rgb(0, 140, 200);
  --red:  rgb(255, 100, 50);
  --dark-red: rgb(170, 0, 0);
  --black: rgb(20, 0, 50);
  --white: rgb(255, 255, 255);
  --grey: rgba(20, 0, 50, .5);
  --dark-grey: rgba(20, 0, 50, .7);
}

.color-red {
  color: var(--red);
}

.color-dark-red {
  color: var(--dark-red);
}

.color-blue {
  color: var(--blue);
}

body {
  font-size: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 30em;

  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 10%;

  color: var(--black);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;

  text-align: justify;
}

.logo {
  align-self: center;

  width: 250px;

  margin-bottom: 4%;
}

.title {
  margin-bottom: 3%;

  font-family: 'Tannenberg';
  font-size: 2.5em;
}

.description {
  margin-bottom: 3%;
}

.rules {
  margin-bottom: 10%;

  color: var(--blue);
  text-decoration: underline;

  transition: color .3s ease;
}

.rules:hover {
  color: var(--red);
}

.forms {
  display: flex;
  flex-direction: column;

  width: 100%;
}

input {
  width: 250px;
  height: 40px;

  margin-bottom: 3%;
  padding-left: 8px;

  border: 2px solid var(--grey);
  border-radius: .3em;

  color: var(--red);
  font-size: .7em;
  font-family: inherit;

  transition: border-color .2s ease;
}

input::placeholder {
  color: var(--dark-grey);
}

input:hover {
  border-color: var(--dark-grey);
}

input:focus {
  outline: none;
  border-color: var(--blue);
}

.input-error {
  border-color: red;
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.join-title {
  margin-bottom: 10%;

  font-size: 1.2em;
  font-weight: bold;
}

.join-submit {
  width: 150px;

  margin-top: 5%;
  padding: 0;

  background-color: var(--white);

  border-color: var(--blue);
  border-width: 3px;

  color: var(--black);
  font-weight: bold;

  cursor: pointer;

  transition: background-color .2s ease, padding .3s ease;
}

.join-submit:hover {
  padding-bottom: 4px;

  background-color: var(--red);
  
  border-color: var(--dark-grey);
}

.divider {
  align-self: center;

  margin: 5% 0;

  font-size: 1.3em;
  font-weight: bold;
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.create-submit {
  width: 150px;

  margin: 0;
  margin-top: 5%;
}

.error-message {
  display: none;
  align-self: flex-start;

  margin-top: -2%;
  margin-bottom: 3%;

  color: red;
  font-size: .6em;
}

.game {
  display: flex;
  flex-direction: column;
}